<h1 mat-dialog-title>Create trigger action</h1>
<div>
  <mat-form-field class="input-full-width">
    <mat-label>Select an option</mat-label>
    <mat-select (ngModelChange)="selectChannel()" [(ngModel)]="data.selected" [(value)]="data.selected">
      <mat-option value="0">Email</mat-option>
      <mat-option value="1">SMS</mat-option>
      <mat-option value="2">MQTT</mat-option>
      <mat-option value="3">HTTP (POST)</mat-option>
      <mat-option value="4">HTTP (GET)</mat-option>
      <mat-option value="5">Actuator</mat-option>

    </mat-select>
  </mat-form-field>

  <mat-form-field class="input-full-width" color="accent">
    <textarea cdkTextareaAutosize cdkAutosizeMaxRows="5" cdkAutosizeMinRows="5"
              [(ngModel)]="data.message" (ngModelChange)="onMessageChanged()"
              matInput placeholder="Message" name="msg"></textarea>
  </mat-form-field>

  <mat-form-field *ngIf="selectedNumber === 5" class="input-full-width">
    <mat-label>Select an option</mat-label>
    <mat-select (ngModelChange)="selectTarget()" [(ngModel)]="data.target" [(value)]="data.target">
      <mat-option *ngFor="let sensor of sensors" [value]="sensor.internalId">{{sensor.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field   *ngIf="selectedNumber !== 5" class="input-full-width">
    <input (ngModelChange)="selectTarget()" matInput placeholder="Target" [disabled]="noTarget" [(ngModel)]="data.target">
  </mat-form-field>
</div>
<br/>
<div mat-dialog-actions class="button-footer">
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [disabled]="!valid || !hasMessage" [mat-dialog-close]="data">OK</button>
</div>
