<div (window:resize)="onResize()" class="container confirm">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">contact_mail</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Confirm email
            <small class="category">Enter confirmation code</small>
          </h4>

          <form>
            <div class="row">
              <div class="col-md-12">
                <mat-input-container color="accent">
                  <input matInput type="input" placeholder="Confirmation code">
                </mat-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 action-btn">
                <p class="btn-center">
                  <button md-raised-button type="submit" class="btn btn-rose">NEXT</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
