<div class="container">
  <div class="row" style="margin-top: 30px">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="{{sensorCount}}"
        headerIcon="settings_remote"
        category="Sensors"
        footContent="Registered sensors"
        footerIcon="timeline"
        linearColor="linear-gradient(60deg, #ffa726, #fb8c00)"
        boxShadow="0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4)">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="{{measurementsCount}}"
        headerIcon="data_usage"
        category="Measurements"
        footContent="Measurements today"
        footerIcon="timer"
        linearColor="linear-gradient(60deg, #ef5350, #e53935)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4)">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="{{apiCallCount}}"
        headerIcon="cloud_upload"
        category="API"
        footContent="API calls this month"
        footerIcon="date_range"
        linearColor="linear-gradient(60deg, #66bb6a, #43a047)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4)">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="{{authTokenCount}}"
        headerIcon="https"
        category="Auth tokens"
        footContent="Total active API tokens"
        footerIcon="security"
        linearColor="linear-gradient(60deg, #26c6da, #00acc1)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4)">
      </app-figurecard>
    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-md-12">
      <app-chart-card
        title="Measurements"
        desc="Measurements registered per hour."
        position="Today"
        footerTitle="24 hour period"
        [data]="measurementsTodayData">
      </app-chart-card>
    </div>
    <div class="col-md-12">
      <app-chart-card
        title="Measurements"
        desc="Cumulative measurements."
        position="Overall"
        footerTitle="Overall"
        [data]="measurementsOverallData">
      </app-chart-card>
    </div>
    <div class="col-md-12">
      <app-bar-chart-card
        title="Measurements per day"
        desc="Cumulative measurements per day"
        position="Overall"
        footerTitle="Per day over time"
        [data]="measurementsPerHourOverallData">
      </app-bar-chart-card>
    </div>

    <div class="col-md-12">
      <app-chart-card
        title="API calls"
        desc="API calls registered last week."
        position="This week"
        footerTitle="7 day period"
        [data]="apiCallsPerDayData">
      </app-chart-card>
    </div>
  </div>
</div>
