<div class="nav-bar">
  <div class="left-part">
    <button mat-mini-fab id="nav-left-button"><i class="material-icons" style="font-size:18px;">more_vert</i></button>
    <h4>{{ title }}</h4>
    <div id="menu">
      <button mat-icon-button (click)="snav.toggle()"><i class="material-icons">menu</i></button>
    </div>
  </div>
  <div class="right-part">
    <div class="right-part" id="nav-right">
      <button mat-icon-button><i class="material-icons icon-btn">dashboard</i></button>
      <button mat-icon-button [matMenuTriggerFor]="menu"><i class="material-icons icon-btn">person</i></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item [routerLink]="profile">Update profile</button>
        <button mat-menu-item>Change password</button>
        <button mat-menu-item>Change email</button>
        <button mat-menu-item (click)="lockClicked()">Lock screen</button>
        <button mat-menu-item (click)="logoutClicked()">Logout</button>
      </mat-menu>
    </div>
  </div>
</div>
