<div class="container">
  <div class="row">
    <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <i class="material-icons">assignment</i>
      </div>

      <div class="card-content">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8">
            <h4 class="card-title">Sensor wizard</h4>
          </div>
        </div>

        <div class="row">
          <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step>
              <ng-template matStepLabel>About</ng-template>

              <form [formGroup]="nameForm">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <mat-form-field class="input-full-width" color="accent">
                      <input matInput type="text" placeholder="Sensor name" name="name" formControlName="name">
                      <mat-error *ngIf="name.hasError('required')">
                        Sensor name is <strong>required</strong>!
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <mat-form-field class="input-full-width" color="accent">
                    <textarea cdkTextareaAutosize cdkAutosizeMaxRows="10" cdkAutosizeMinRows="5" formControlName="desc"
                              matInput placeholder="Description" name="desc"></textarea>
                      <mat-error *ngIf="desc.hasError('required')">
                        Sensor description is <strong>required</strong>!
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </form>
              <div class="row btn-row">
                <button class="btn btn-rose" [disabled]="true" (click)="stepper.previous()">PREVIOUS</button>
                <button class="btn btn-rose" (click)="stepper.next()">NEXT</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Secrets</ng-template>

              <form [formGroup]="secretForm">
                <div class="row" style="padding-bottom: 6%">
                  <div class="col-md-8 col-md-offset-4">
                    <mat-slide-toggle (change)="onToggleChanged($event)" name="sensor-secret-slider">Let Sensate IoT
                      generate a secret
                    </mat-slide-toggle>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <mat-form-field class="input-full-width">
                      <input formControlName="secret" matInput placeholder="Sensor Secret"
                             name="sensor">
                      <mat-error *ngIf="secret.hasError('required')">
                        A secret is <strong>required</strong>!
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </form>
              <div class="row btn-row">
                <button class="btn btn-rose" (click)="stepper.previous()">PREVIOUS</button>
                <button class="btn btn-rose" (click)="createSensor()">CREATE</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Review</ng-template>

              <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-9">
                  <mat-form-field class="input-full-width">
                    <input [disabled]="true" [(ngModel)]="sensorId" matInput placeholder="Sensor ID" name="sensor">
                  </mat-form-field>
                </div>
                <div class="col-md-2 col-xs-3">
                  <button mat-mini-fab class="search-btn" (click)="onCopyClicked('Sensor ID', sensorId)">
                    <i class="material-icons" style="font-size:20px;">visibility</i>
                  </button>
                </div>
              </div>

              <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-9">
                  <mat-form-field class="input-full-width">
                    <input [disabled]="true" [(ngModel)]="sensorSecret" matInput placeholder="Sensor Secret" name="sensor">
                  </mat-form-field>
                </div>
                <div class="col-md-2 col-xs-3">
                  <button mat-mini-fab class="search-btn" (click)="onCopyClicked('Sensor secret', sensorSecret)">
                    <i class="material-icons" style="font-size:20px;">visibility</i>
                  </button>
                </div>
              </div>

              <div class="row btn-row">
                <button class="btn btn-rose" [disabled]="true" (click)="stepper.previous()">PREVIOUS</button>
                <button id="submitBtn" [disabled]="!sensorCreated" class="btn btn-success" (click)="onSubmitClick()">SUBMIT</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
