<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col-xs-12 col-lg-6">
              <h4 class="card-title">Sensor Management</h4>
            </div>
            <div class="col-xs-12 col-lg-6 search padding-if">
              <form>
                <mat-form-field color="#ff0000" class="input-full-width">
                  <input [(ngModel)]="searchFieldValue" name="searchField" matInput type="search" placeholder="Search">
                </mat-form-field>
                <button mat-mini-fab class="search-btn" (click)="onSearchClicked()"><i class="material-icons" style="font-size:18px;">search</i></button>
              </form>
            </div>
          </div>
          <div class="table-responsive">
            <form [formGroup]="form">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Created on</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let sensor of sensors; let i = index">
                  <td>{{i+1}} <i *ngIf="isLinkedSensor(sensor)" class="material-icons" style="vertical-align: middle">link</i></td>
                  <td>{{sensor.name}}</td>
                  <td>{{descText(sensor.description)}}</td>
                  <td>{{sensor.createdAt.toLocaleDateString()}}</td>
                  <td>
                    <button mat-icon-button [matMenuTriggerFor]="more"><i class="material-icons icon-btn">more_vert</i></button>
                    <mat-menu #more="matMenu">
                      <button mat-menu-item *ngIf="!isLinkedSensor(sensor)" (click)="onViewClick(sensor)">Show secrets</button>
                      <button mat-menu-item routerLink="/sensors/{{sensor.id}}"> Details </button>
                      <button mat-menu-item *ngIf="!isLinkedSensor(sensor)" (click)="onUpdateClicked(sensor)"> Update </button>
                      <button mat-menu-item *ngIf="!isLinkedSensor(sensor)" (click)="onLinkSensorClicked(sensor)">Link </button>
                      <button mat-menu-item *ngIf="!isLinkedSensor(sensor)" (click)="onDeleteClicked(i)">Remove </button>
                      <button mat-menu-item *ngIf="isLinkedSensor(sensor)" (click)="unUnlinkClicked(sensor, i)">Unlink</button>
                    </mat-menu>
                  </td>
                </tr>
                </tbody>
              </table>
            </form>

          </div>
          <div class="row">
            <mat-paginator [length]="count"
                           [pageSize]="pageSize"
                           [pageSizeOptions]="pageOptions"
                           (page)="onPaginate($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
