<div class="container">
  <div class="background"></div>
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3" style="padding: 80px">
        <div class="card lock-header">
          <h4>{{mail}}</h4>
          <div class="card-body">
            <form [formGroup]="unlockForm">
              <div class="form-row">
                <mat-form-field color="accent">
                  <input type="password" formControlName="password" [errorStateMatcher]="matcher" matInput placeholder="Password"/>

                  <mat-error *ngIf="password.hasError('required')">
                    Password is <strong>required</strong>!
                  </mat-error>

                  <mat-error *ngIf="password.hasError('invalid')">
                    Password incorrect!
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="card-footer">
                <p class="button-para">
                  <button (click)="unlockClicked()" mat-raised-button class="btn btn-rose btn-round">UNLOCK</button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
