<div (window:resize)="onResize()" class="container">
  <div class="row" style="margin-top: 30px">
    <div class="col-md-11">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">perm_identity</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Edit Profile -
            <small class="category">Registered on {{registrationDate.toLocaleString()}}</small>
          </h4>
          <form [formGroup]="profileForm">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field color="accent">
                  <input matInput type="text" placeholder="First Name" formControlName="firstNameControl"
                         [errorStateMatcher]="profileMatcher" name="firstName">
                  <mat-error *ngIf="firstNameControl.hasError('required') || firstNameControl.hasError('minlength')">
                    First name must be at least two characters.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field color="accent">
                  <input matInput type="text" [errorStateMatcher]="profileMatcher" placeholder="Last Name" formControlName="lastNameControl" name="lastName">
                  <mat-error *ngIf="lastNameControl.hasError('required') || lastNameControl.hasError('minlength')">
                    Last name must be at least two characters.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field color="accent">
                  <input matInput type="text" disabled="disabled" placeholder="Email" value="{{email}}">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field color="accent">
                  <input matInput type="text" placeholder="Phone number" disabled="disabled" value="{{phoneNumber}}">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field color="accent">
                  <input matInput type="password" formControlName="newPasswordControl" placeholder="New password">
                  <mat-error *ngIf="newPasswordControl.hasError('minlength')">
                    Minimal password length is 8 characters!
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field color="accent">
                  <input matInput type="password" formControlName="newPasswordConfirmControl" placeholder="New password confirmation">
                  <mat-error *ngIf="newPasswordConfirmControl.hasError('not-equal')">
                    Passwords don't match!
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field color="accent">
                  <input matInput type="password" formControlName="currentPasswordControl" placeholder="Current password">
                  <mat-error *ngIf="newPasswordConfirmControl.hasError('missing')">
                    Passwords don't match!
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6 action-btn">
                <p class="btn-center">
                  <button md-raised-button (click)="onSubmitClicked()" type="submit"
                          class="btn btn-rose" [disabled]="!isValidProfileForm()">UPDATE PROFILE</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="!isMobile" class="col-md-1">
      <div class="profile">
        <img src="{{profileUrl}}" alt="profile"/>
      </div>
    </div>
  </div>

  <app-update-email></app-update-email>
  <app-update-phone-number></app-update-phone-number>
</div>
